# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo specific files
.expo/
.expo-shared/
dist/
web-build/

# Native files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro cache and health check files
.metro-cache/
.metro-health-check*

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*
packager-debug.log*
*.log

# macOS specific files
.DS_Store
Thumbs.db

# Android build files
android/.gradle/
android/app/build/
android/build/
android/gradle-wrapper.properties

# iOS build files
ios/build/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/.ios/
ios/Flutter/.ios/*

# Local environment files
.env*.local
*.env

# Typescript build info files
*.tsbuildinfo

# Jest coverage and snapshots
/coverage/
/.jest/
__snapshots__/

# Expo CLI specific files
expo-env.d.ts

# Expo CLI sync generated patterns
# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# @end expo-cli

# Yarn workspace cache
.yarn/*
!**/.yarn

# Lint cache files
.eslintcache
